@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

:root {
  --color-red: hsl(354, 88%, 39%);
  --color-blue: hsl(225, 37%, 18%);
  --color-beige: hsl(39, 74%, 90%);
  --color-near-white: hsl(39, 74%, 97%);
  --color-orange: hsl(33, 96%, 38%);
  --color-burgundy: hsl(0, 94%, 28%);
}

body {
  margin: 0;
  padding: 40px;
  background-color: var(--color-beige);
}

body,
button,
input,
textarea {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  color: var(--color-blue);
}

body:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  border-top: 8px solid var(--color-red);
  border-bottom: 4px solid var(--color-burgundy);
}

.site-title a,
.site-title a:visited {
  color: inherit;
}

.site-title a:hover {
  color: var(--color-burgundy);
}

a,
a:link {
  color: var(--color-red);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: var(--color-burgundy);
}

/* Recipe detail view --------------------------------------------- */

.recipe {
  max-width: 38em;
  line-height: 1.4;
}

.ingredients {
  background-color: var(--color-near-white);
  border: 1px solid var(--color-beige);
  padding: 30px 60px 30px 30px;
  display: inline-block;
  transform: rotate(-0.8deg);
  box-shadow: rgba(36, 35, 39, 0.4) -1px 7px 10px;
}

.ingredients ul {
  padding-left: 20px;
}

/* Add recipes ---------------------------------------------------- */

.add-recipes {
  margin-top: 40px;
  max-width: 400px;
  background-color: var(--color-near-white);
  border: 1px solid var(--color-beige);
  padding: 20px;
  box-shadow: rgba(36, 35, 39, 0.4) -1px 7px 10px;
}

label {
  display: block;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 6px;
}

button {
  margin-top: 20px;
  color: var(--color-beige);
  background-color: var(--color-blue);
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-near-white);
  border: 1px solid var(--color-blue);
  padding: 4px;
  border-radius: 4px;
}
