body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  padding: 20px;
  border-radius: 6px;
}

.background-yellow {
  background: rgb(247, 247, 164);
}

.background-orange {
  background: rgb(236, 188, 98);
}

.background-blue {
  background: rgb(171, 171, 228);
}

.background-green {
  background: rgb(118, 232, 135);
}
